<div *ngIf="useCase">
  <div class="row">
    <div style="margin: 20px 0">
      <h3>Use Case: {{useCase.useCaseName}}
        <a [routerLink]="" (click)="edit()" class="btn btn-default" style="float:right;">
          Edit
        </a>
      </h3>
    </div>
    <div *ngFor="let call of useCase.tests">
      <div style="font-size:  20px; margin-top:  20px;">
        <p>Call #{{call.useCaseIndexNumber + 1}}: {{call.callPath}}</p>
      </div>
      <div>
        <p>Expected Return Content:</p>
        <pre style="max-height: 360px">{{parse(call.expectedResultRaw) | json}}</pre>
      </div>
    </div>
  </div>
</div>