<div style="min-height: 350px">
  <table class="table table-striped table-condensed table-hover">
    <tbody>
        <tr>
          <td>
            <input type="checkbox" (change)=selectAll() [checked]="isSelectAll">
          </td>
          <td>Select All</td>
        </tr>
        <tr *ngFor="let test of pagedTests[currentPage]">
          <td>
            <input type="checkbox" (change)="toggleTest(test)" [checked]="test.selected">
          </td>
          <td>{{test.useCaseName}}</td>
        </tr>
    </tbody>
  </table>
</div>
<div class="pagination pull-right">
  <ul class="nav nav-pills">
    <li [ngClass]="{'disabled': currentPage == 0}">
      <a [routerLink]="" (click)="prevPage()">« Prev</a>
    </li>
    <li *ngFor="let n of range(pagedTests.length)" [ngClass]="{'active': n == currentPage}">
      <a [routerLink]="" (click)="setPage(n)">{{n+1}}</a>
    </li>
    <li [ngClass]="{'disabled': currentPage == pagedTests.length - 1}">
      <a [routerLink]="" (click)="nextPage()">Next »</a>
    </li>
  </ul>
</div>