<div style="min-height: 350px">
  <table class="table table-striped table-condensed table-hover">
    <tbody>
      <tr>
        <td>
          <input type="checkbox" (change)="selectAll()" [checked]="isSelectAll">
        </td>
        <td>Select All</td>
        <td colspan="2">
          <a (click)="createNewTest()" class="btn btn-default" style="float:right;">
            New Use Case
          </a>
        </td>
      </tr>
      <tr *ngFor="let test of pagedTests[currentPage]">
        <td>
          <input type="checkbox" (change)="toggleTest(test)" [checked]="test.selected">
        </td>
        <td>{{test.useCaseName}}</td>
        <td style="width: 60px">
          <a [routerLink]="['/app/test', test.id, false]" class="btn btn-default" style="float:right;">
            View
          </a>
        </td>
        <td style="width: 60px">
          <a [routerLink]="['/app/test', test.id, true]" class="btn btn-default" style="float:right;">
            Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="pagination pull-right">
  <ul class="nav nav-pills">
    <li [ngClass]="{'disabled': currentPage == 0}">
      <a (click)="prevPage()" class="btn">« Prev</a>
    </li>
    <li *ngFor="let n of range(pagedTests.length)" [ngClass]="{'active': n == currentPage}">
      <a (click)="setPage(n)" class="btn">{{n+1}}</a>
    </li>
    <li [ngClass]="{'disabled': currentPage == pagedTests.length - 1}">
      <a (click)="nextPage()" class="btn">Next »</a>
    </li>
  </ul>
</div>