<div *ngIf="useCase">
  <div class="row">
    <div style="margin: 20px 0">
      <h3>Use Case:
        <input type="text" [(ngModel)]="useCase.useCaseName" />
        <a (click)="save()" class="btn btn-default" style="float:right;">
          Save
        </a>
      </h3>
    </div>
    <div *ngFor="let call of useCase.tests; let i = index">
      <p>Call #{{call.useCaseIndexNumber + 1}}: {{call.callPath}}</p>
      <p>Call:
        <select [(ngModel)]="call.callDefinition" (change)="callDefinitionChanged(call)">
          <option *ngFor="let callDef of callDefs" [ngValue]="callDef">{{ callDef.name }}</option>
        </select>
      </p>
      <p>Parameters:</p>
      <p *ngFor="let param of call.callDefinition.availibleParams">{{param}}
        <input type="text" (input)="onParamChange($event.target.value, param, call)" [value]="call.paramList.get(param) ? call.paramList.get(param) : ''"/>
      </p>
      <p>Expected Return Content:</p>
      <textarea [(ngModel)]="call.expectedResultRaw" cols="100" rows="20"></textarea> 
    </div>
    <a (click)="addCall()" class="btn btn-default">
        Add Call
      </a>
  </div>
</div>